<div class="right-var">
  <div class="right-var__profile">
    <h5 class="text-center font-weight-bolder py-3 text-white">プロフィール</h4>
    <%= image_tag "common/profile_image_1.jpg", class: "img-fluid mb-4"%> 
  </div>
  <div class="right-var__ad">
    <h5 class="text-center font-weight-bolder py-3 text-white">TECH::EXPERT受講検討の方にお得な情報</h4>
    <%= link_to "" do %>
      <%= image_tag "common/tech-expert_image_1.jpg", class: "img-fluid mb-4"%> 
    <% end %>
  </div>
</div>
