.top__card__parts.col-xl-5.col-lg-7.p-0.mt-5.mx-auto.pb-3
  .top__card__parts__content
    = image_tag "common/image1.jpg", class: "img-fluid mb-4"
    .top__card__parts__content--text.text-left.col-11.m-auto
      %b スクール情報、比較
      %p 未経験者がエンジニアに転身するための、スクール情報を紹介。
      %p 自らの経験などを交えて、徹底的に調査比較を致しました。
      %p 直接メッセージを頂ければ相談にも乗りたいと思いますので、ぜひ参考にして下さい。
    = link_to school_articles_path, class: "text-center text-decoration-none" do
      %p.col-11.m-auto 詳細はこちら