%nav.navbar.navbar-expand-lg.navbar-dark
  %button.navbar-toggler{"aria-controls" => "navbar1", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar1", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbar1.collapse.navbar-collapse.justify-content-end
    .navbar-nav.custom-navbar
      %p.navbar-brand Menu
      = link_to "/ Topページ", root_path, class: "nav-item nav-link"
      = link_to "/ スクール比較", school_articles_path, class: "nav-item nav-link"
      %a.nav-item.nav-link{:href => "#"} / 転職エージェント紹介
      = link_to "/ Tech系ブログ", tech_blog_articles_path, class: "nav-item nav-link"

