%nav.navbar.navbar-expand-lg.navbar-dark
  %button.navbar-toggler{"aria-controls" => "navbar1", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbar1", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  -# %p.navbar-brand.d-lg-none Menu
  #navbar1.collapse.navbar-collapse.justify-content-end
    .navbar-nav.custom-navbar
      %p.navbar-brand Menu
      -# %span.custom-navbar__border-right
      %a.nav-item.nav-link{:href => "#"} / スクール比較
      %a.nav-item.nav-link{:href => "#"} / 転職エージェント紹介
      %a.nav-item.nav-link{:href => "#"} / Tech系ブログ
