<p>2019-08-14</p>
<img src="image1.jpg" alt="school_top_image" class="img-fluid">
<p>数あるプログラミングスクールからいくつか厳選してご紹介します。<br>
  個人的な意見なので確定情報ではない場合があります。あらかじめご了承下さい。<br>
  あくまで未経験からスクール出てエンジニアになれた身として、<strong>自分の経験を交えた考えなどをまとめたものです。</strong><br>
  なので今後スクール決める上で、参考にして頂けると幸いです。
  <br><br>
  また、最終的に決めるのは自分です。<br>
  <strong>一通り無料カウンセリングを受けて自分に見合ったスクールを選ぶことをお勧めします！</strong><br>
  参加費は基本的に無料なので行って損はないです！(*ﾟ▽ﾟ*)
</p>

<h4>プログラミングスクールの種類</h4>
<p>
  スクール紹介の前に・・・簡単にスクールの種類を軽く説明します！
  プログラミングスクールは大きく分けて、３種類あります。
  <ul>
    <li>①スクールが解放している教室へ通学し基本的に自習。自分が欲しいタイミングで講師に質問ができる。</li>
    <li>②完全オンラインで基本的に自習。特に場所や時間の指定がなく、いつでもチャットやビデオツールなどで質問ができる。</li> 
    <li>③通学し講義を受ける。それ以外は自習(自宅orスクール側が用意している教室などで)。</li>
  </ul>
  だいたいこの３種類に分かれるでしょう。<br>
  当方は①と②を合わせた様なのタイプのスクール卒業というのもありますので、<strong>①のタイプのスクールをお勧めします。</strong><br>
  理由は<strong>モチベーションを維持したまま、</strong>短期間で集中して学習に取り組めるのでこのタイプのスクールを選びました。
</p>
<h4>学習タイプごとのメリット、デメリット</h4>
<p>
  ①のメリット
  <ul>
    <li>・自分のペースを保ちつつ、教室では集中して学習できる。</li>
    <li>・教室に行けばすぐに質問ができる。</li>
    <li><strong>・仲間がいるので、互いに質問しあったり、同じエラーを共有できたりできる。</strong></li>
  </ul>
  ①のデメリット
  <ul>
    <li>・授業料が高い。</li>
    <li>・質問が混み合ってすぐにできない場合がある。</li>
    <li>・メンターの質がバラバラ。</li>
  </ul>

  だいたいこんな感じです。冒頭でも書きましたが、<strong>モチベーションを維持したまま、</strong>短期間で集中して学習に取り組めます。<br>
  メンターに質問できるのも良いのですが、上記にあげた様に<strong>メンターの質がバラバラで安定感がなく逆に困惑する事があります。</strong><br>
  そのかわり、だいたいつまづくところは一緒なので他の生徒さんと情報共有したりするとあっさり解決したりします。<br>
  <strong>なのであの教室という空間はすごく大事だと思いました。</strong>
  <br><br>
  ②のメリット
  <ul>
    <li>・通学不要で自分のペースで学習できる。</li>
    <li>・質問はどこからでもできる。</li>
    <li>・通学タイプよりかは多少料金が安い。</li>
  </ul>
  ②のデメリット
  <ul>
    <li><strong>・完全に一人なのでモチベーションが維持しずらい。</strong></li>
    <li>・質問もオンラインなので説明などが面倒い。</li>
    <li>・質問が混み合ってすぐにできない場合がある。</li>
  </ul>
  
  ②のオンラインに関しては場所を選ばないし自分のペースで出来るので良いことばかりに感じますが、<strong>基本的には一人なのでモチベーションの維持が難しい点</strong>が一番の欠点だと思います。<br>
  卒業は出来るのでしょうが、恐らく気持ちの浮き沈みや、自分ペースで出来る余裕から、<strong>かなり時間がかかってしまうのではないかなって思います。</strong><br>
  家で何時間でも勉強できる！って人なら、料金も多少安めなのでお勧めします！
  <br><br>
  ③に関しては通ったことがないのでなんとも言えませんが、カウンセリング等で説明を聞いた感じだと、<strong>講師は優秀な方が多く、かなり念入りに組み込まれたロジックを学ぶ事が出来るのではないかな</strong>と思っております。<br>
  ただ答えがすでに用意されているので、ロジック通りの型しか理解できなくなって、応用が利かなくなってしまう様な気がしました。
  <br><br>
  なので①や②の様な、<strong>１つの答えに向かって自分で試行錯誤考えられる自習ベースの方が自走力が養えて良い</strong>かなって思います。
</p>

<h4>おすすめプログラミングスクール紹介</h4>

<p>
  お待たせしました！本題のスクール紹介にいきたいと思います。<br>
  冒頭でも言いましたが、<strong>気になるところは全てカウンセリングや説明会に行くことをお勧めします。これをしないとお金や時間を無駄にします。</strong>
</p>

<div class="table">
  <div class="table__school">

    <h5><b>TECH::EXPERT</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+C7DWH" target="_blank" rel="nofollow">
          <img border="0" width="200" height=200 alt="" src="https://www29.a8.net/svt/bgt?aid=190808531369&wid=001&eno=01&mid=s00000016576002050000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学＆オンライン</p>
        <p class="m-0">・特徴： 教育サポートが手厚い。返金制度。</p>
        <p class="m-0">・料金： 598,000円（税抜）</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)、栄(名古屋)、天神(福岡)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+BWVTE" target="_blank" rel="nofollow">TECH::EXPERT</a></p>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学＆オンライン</p>
        <p class="m-0">・特徴： 教育サポートが手厚い。返金制度。</p>
        <p class="m-0">・料金： 598,000円（税抜）</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)、栄(名古屋)、天神(福岡)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+BWVTE" target="_blank" rel="nofollow">TECH::EXPERT</a></p>
      </div>
    </div>
  </div>
</div>
