<p>2019-08-14</p>
<!-- <img src="image1.jpg" alt="school_top_image" class="img-fluid mb-4"> -->
<%= image_tag "common/image1.jpg", class: "img-fluid mb-4"%>
<p>数あるプログラミングスクールからいくつか厳選してご紹介します。<br>
  個人的な意見なので確定情報ではない場合があります。あらかじめご了承下さい。<br>
  あくまで未経験からスクール出てエンジニアになれた身として、<strong class="marker-yellow">自分の経験を交えた考えなどをまとめたものです。</strong><br>
  なので今後スクール決める上で、参考にして頂けると幸いです。
  <br><br>
  また、最終的に決めるのは自分です。<br>
  <strong class="marker-yellow__text-red">一通り無料カウンセリングや説明会を受けて自分に見合ったスクールを選ぶことをお勧めします！</strong><br>
  参加費は基本的に無料なので行って損はないです！(*ﾟ▽ﾟ*)
</p>


<h4 class="balloon"><b>おすすめプログラミングスクール紹介</b></h4>

<p>
  スクール紹介にいきたいと思います。<br>
  冒頭でも言いましたが、
  <strong class="marker-yellow">気になるところは全てカウンセリングや説明会に行くことをお勧めします。</strong>
  <strong class="marker-yellow__text-red">これをしないとお金や時間を無駄にします。</strong>
</p>

<div class="table">
  <div class="table__school">
    
    <h5><b>TECH::EXPERT</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+C7DWH" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www29.a8.net/svt/bgt?aid=190808531369&wid=001&eno=01&mid=s00000016576002050000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学＆オンライン</p>
        <p class="m-0">・特徴： 教育サポートが手厚い。<strong class="marker-yellow__text-red">返金保証制度</strong>。<strong class="marker-yellow">Rubyに特化</strong>。</p>
        <p class="m-0">・料金： 598,000円（税抜）</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)、栄(名古屋)、天神(福岡)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+BWVTE" target="_blank" rel="nofollow">TECH::EXPERT</a></p>
      </div>
    </div>
    <h5><b>TECH::CAMP</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9LBFN6+3JWG+64JTD" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645580&wid=001&eno=01&mid=s00000016576001029000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学＆オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow">デザインや</strong><strong class="marker-yellow__text-red">AI技術も学べる</strong>。</p>
        <p class="m-0">・料金： 177,600円（税抜）</p>
        <p class="m-0">・場所： 渋谷、新宿、池袋、東京、名古屋、大阪(梅田)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9LBFN6+3JWG+64JTD" target="_blank" rel="nofollow">TECH::CAMP</a>(無料体験実施中)</p>
      </div>
    </div>

  </div>
</div>

<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・<strong class="marker-yellow">当方はここの卒業生です。</strong></li>
  <li>・オンラインと併用で自分のペースを保ちつつ、教室では集中して学習できる。</li>
  <li>・教室に行けばすぐに質問ができる。</li>
  <li>・基本的に自習学習スタイルで、<strong class="marker-yellow">周りには同期や仲間がいるので、互いに質問しあったり、同じエラーを共有できたりできる。</strong></li>
  <li>・自習ベースが故に、<strong class="marker-yellow__text-red">基本的には自分次第で最終的にはかなり自走力が身に付く。</strong></li>
  <li>・TECH::CAMPは、TECH::EXPERTほどコアなことはしませんが、EXPERTではやらない<strong class="marker-yellow__text-red">デザイン、やAI技術が学べます</strong>。</li>
  <li>・業界で使いそうな技術を浅く広く学べて、<strong class="marker-yellow">料金も比較的安価です</strong>。</li>
  <li>・ぶっちゃけ<strong class="marker-yellow">実戦に近い技術が学べるので</strong>、気軽にコーダーバイトなどから、始めたい方などには、TECH::CAMPの方が、お勧めかもしれません。</li>
</ul>

<div class="table">
  <div class="table__school">
    <h5><b>デジタルハリウッド STUDIO by LIG</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2B+6WV7N6+4704+5Z6WX" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www26.a8.net/svt/bgt?aid=190816643418&wid=001&eno=01&mid=s00000019570001004000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 映像教材、個別指導、LIVE授業</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">デザインの技術も学べる</strong>。<strong class="marker-yellow">フロント技術に特化</strong>。</p>
        <p class="m-0">・料金： ¥450,000 (税抜)</p>
        <p class="m-0">・場所： 上野、池袋</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2B+6WV7N6+4704+60OXE" target="_blank" rel="nofollow">デジタルハリウッド STUDIO by LIG</a></p>
      </div>
    </div>    
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・６ヶ月とういう長い時間をかけて学べる。また映像教材、個別指導、LIVE授業と言った様々な方法で勉強できるため<strong class="marker-yellow">実力がつく</strong>。</li>
  <li>・他のスクールと違い、<strong class="marker-yellow__text-red">デザインに関する知識も得られる。</strong></li>
  <li>・フロントのコーダー系のバイト案件が多い中、フロントに特化したカリキュラムなので<strong class="marker-yellow">気軽にバイトから始めてみたい方などにお勧め</strong>だと思います。
  </li>
</ul>

<div class="table">
  <div class="table__school">
    <h5><b>Tech Boost</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9GJYSY+3TVC+HWXLD" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www23.a8.net/svt/bgt?aid=190816645572&wid=001&eno=01&mid=s00000017868003009000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">PHPとRubyの2言語が学べる</strong>。</p>
        <p class="m-0">・料金： 入会金¥219,800 + 月額¥29,800 x 3ヶ月(税抜)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9GJYSY+3TVC+HWXLD" target="_blank" rel="nofollow">Tech Boost</a></p>
      </div>
    </div>  
    <h5><b>Tech Boost（オンライン）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9E68DU+3TVC+NVHCX" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www20.a8.net/svt/bgt?aid=190816645568&wid=001&eno=01&mid=s00000017868004010000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">PHPとRubyの2言語が学べる</strong>。</p>
        <p class="m-0">・料金： 入会金¥134,800 + 月額¥29,800 x 3ヶ月(税抜)</p>
        <p class="m-0">・場所： オンラインなのでどこでも。</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9E68DU+3TVC+NVHCX" target="_blank" rel="nofollow">Tech Boost</a></p>
      </div>
    </div>   
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・まず３ヶ月でカリキュラムが組まれており、その中で<strong class="marker-yellow__text-red">PHPとRubyの2言語学べるのが最大のメリットでしょう。</strong>。</li>
  <li>・また<strong class="marker-yellow">料金も比較的安価です。</strong></li>
  <li>・案件数が多いPHPとスタートアップなどで希少価値が高いRubyを武器にできるのはデカイです。<strong class="marker-yellow">就職サポート、独立支援サービス</strong>なども実施していて、卒業後のキャリアも安心。</li>
  <li>・通学かオンラインどちらかを選ばないといけないで<strong class="marker-yellow">しっかり無料カウンセリングを受けてから決めましょう</strong>。</li>
</ul>

<div class="table">
  <div class="table__school">
    <h5><b>DMM WEBCAMP</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9RV7AQ+3XAE+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www23.a8.net/svt/bgt?aid=190816645591&wid=001&eno=01&mid=s00000018311002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">転職保証</strong>。<strong class="marker-yellow">Rubyに特化</strong>。</p>
        <p class="m-0">・料金： ¥ 628,000 (税別)、分割¥ 26,000~ /月(税別)</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9RV7AQ+3XAE+BXYE9" target="_blank" rel="nofollow">DMM WEBCAMP</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
    
    <h5><b>DMM WEBCAMP【ビジネス教養コース】</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9ZLU5U+3XAE+609HT" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www23.a8.net/svt/bgt?aid=190816645604&wid=001&eno=01&mid=s00000018311001009000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow">上記DMM CAMPを1ヶ月に集約したもの</strong>。</p>
        <p class="m-0">・料金： ¥128,000 (税別)</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9ZLU5U+3XAE+609HT" target="_blank" rel="nofollow">DMM WEBCAMP</a>(無料説明会実施中)</p>
      </div>
    </div>
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・まず<strong class="marker-yellow__text-red">DMM(大企業)が主催という点でスクールとしての信頼度が高いです</strong>。</li>
  <li>・料金が高めですが、その代わり<strong class="marker-yellow">転職保証や学習サポートが手厚く大手に転職実績もあります</strong>。大企業故の実績でしょう。</li>
  <li>・ただ20代限定であったり、入校テストや、保証の適応審査などがあり、<strong class="marker-yellow">20代後半からはお勧めできない場合があります</strong>。</li>
  <li>・まずは<strong class="marker-yellow">無料カウンセリングで色々話を聞いてみると良いでしょう。</strong>。</li>
  <li>・【ビジネス教養コース】では基本的には通常コースと内容はさほど変わらないと思いますが、短期間でスキルアップを目的としてますので<strong class="marker-yellow">かなりスピード感があるカリキュラムになるかと思います</strong>。</li>  
  <li>・<strong class="marker-yellow__text-red">短期間で基礎を徹底的に習得したい方にはお勧めです</strong>。無料説明会も実施しているので、一度話を聞いてしっかり決めましょう。</li>
</ul>

<div class="table">
  <div class="table__school">
    <h5><b>ポテパンキャンプ（2ヶ月コース）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645608&wid=001&eno=01&mid=s00000017938002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow">Railsの基礎を徹底的に学べる</strong>。</p>
        <p class="m-0">・料金： ¥100,000 (税別)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">ポテパンキャンプ</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
    <h5><b>ポテパンキャンプ（4ヶ月コース）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645608&wid=001&eno=01&mid=s00000017938002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">転職成功で全額返金</strong>。<strong class="marker-yellow">Railsのスキルアップが測れる</strong>。</p>
        <p class="m-0">・料金： ¥300,000 (税別)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">ポテパンキャンプ</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
    <h5><b>ポテパンキャンプ（3ヶ月コース）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645608&wid=001&eno=01&mid=s00000017938002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">転職成功で全額返金</strong>。<strong class="marker-yellow">Railsのスキルアップが測れる</strong>。</p>
        <p class="m-0">・料金： ¥250,000 (税別)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">ポテパンキャンプ</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・2ヶ月、3ヶ月、4ヶ月にコースが別れている。</li>
  <li>・2ヶ月は<strong class="marker-yellow">基礎を徹底的に学びます</strong>。<strong class="marker-yellow__text-red">実戦レベルにはなれないので注意が必要</strong>。</li>
  <li>・3ヶ月は<strong class="marker-yellow">基礎を習得した方限定のコースになります</strong>。<strong class="marker-yellow__text-red">そのため基礎レベルのカリキュラムは組み込まれていません。実戦レベルにスキルアップしたい方にお勧めです</strong>。</li>
  <li>・基礎に不安がある方は<strong class="marker-yellow">4ヶ月コースを受講すると良いでしょう</strong>。</li>
  <li>・また3ヶ月、4ヶ月には<strong class="marker-yellow__text-red">転職成功時の全額返金制度があります</strong>。入るまでの敷居は高いのですが、実質0円にする事が可能です。</li>
  <li>・なので基礎知識がある方には、かなりお勧めできるスクールになります。<strong class="marker-yellow">無料カウンセリングに行き、自分のレベル感を確かめに行っても良いかもしれません</strong>。</li>
</ul>

<div class="table">
  <div class="table__school">
    <h5><b>ProgrammerCollege</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AGVEPE+3NMW+61Z81" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www20.a8.net/svt/bgt?aid=190816645633&wid=001&eno=01&mid=s00000017060001017000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">完全無料</strong>。<strong class="marker-yellow">javaに特化</strong>。</p>
        <p class="m-0">・料金： ¥ 0 </p>
        <p class="m-0">・場所： 六本木</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AGVEPE+3NMW+61Z81" target="_blank" rel="nofollow">ProgrammerCollege</a>(無料カウンセリング実施中)</p>
      </div>
    </div>

  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・<strong class="marker-yellow__text-red">最短40日間でjavaを習得可能。しかも完全無料</strong>。これが一番の利点だと思います。</li>
  <li>・java案件数はIT案件の大半を占めているので<strong class="marker-yellow">覚えてしまえば、職に困ることはないだろう</strong>。</li>
  <li>・ただjava案件はBtoB系の比較的堅めの案件が多いので比較的ラフなWEB系に行きたい方はお勧めできない場合がある。</li>
  <li>・プログラム以外にも<strong class="marker-yellow">様々な就活サポート研修を実施している</strong>。</li>
</ul>

<div class="table">
  <div class="table__school">
    <h5><b>CodeCamp（プレミアムプラス、6ヶ月プラン）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AMTQR6+3GOM+60H7L" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www25.a8.net/svt/bgt?aid=190816645643&wid=001&eno=01&mid=s00000016159001010000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 完全オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">フロント、サーバサイド、デザインなどとにかく幅広い技術が習得可能</strong>。</p>
        <p class="m-0">・料金： ¥ 698,000 (税別)</p>
        <p class="m-0">・場所： オンラインなのでどこでもOK</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AMTQR6+3GOM+60H7L" target="_blank" rel="nofollow">CodeCamp</a>(無料体験実施中)</p>
      </div>
    </div>

  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・完全オンラインで6ヶ月のプレミアムプラスプランなら<strong class="marker-yellow__text-red">回数無制限で受講する事ができる</strong>。</li>
  <li>・さらに受講できるカリキュラムの数が半端なく、HTML/CSS、JavaScript、Bootstrap、Swift、Android、PHP、MySQL、Ruby、Rails、java、Photoshop、Illustrator<strong class="marker-yellow__text-red">計14種類の技術が学べる</strong>。</li>
  <li>・これ全てマスターしたら敵なしかもしれないです。ただ自分的にはwordpressを入れて欲しかったという所と、初心者が本当にこの量をこなせるのか？という不安だけである。</li>
  <li>・その他<strong class="marker-yellow">自分の学びたい技術だけを選べるコース</strong>もあるみたいなので<strong class="marker-yellow">無料体験を受けてみてから決めるのも良いでしょう</strong>。</li>
</ul>

<h4 class="balloon"><b>まとめ</b></h4>
<p>
  以上、プログラミングスクールの紹介でした。<br>
  最後まとめついでにスクールを決める上でのアドバイスをしたいと思います。
  ただこれな個人的な意見なので、絶対に鵜呑みにはせず、<strong class="marker-yellow">最終的にはカウンセリングや体験などに行って自分の目で確かめてから決めてくだい</strong>。
</p>
<p>
  では本題ですが、個人的には<strong class="marker-yellow__text-red">教室を使った自習スタイルのスクールをお勧めします</strong>。
  理由は<strong class="marker-yellow">自走力が付く</strong>からです。さらに周りに同期などがいるので<strong class="marker-yellow">モチベーションも維持したまま</strong>学習に取り組む事ができます。
</p>
<p>
  確かにオンラインでも自走力が付くのですが、基本的には個人プレイになるので、途中でダレたり不安になったりして挫折・・・なんて可能性が高いです。
  そんな事になるならいっそう通ってしまった方が良いかなって思います。
</p>
<p>
  なので何度も言いますが、<strong class="marker-yellow__text-red">カウンセリングや体験などに積極的に参加して自分の目で確かめて「これなら出来そう！」と思ったら通ってみましょう</strong>。
</p>
<p>
  長くなりましたが以上となります。誰かの力になれたらと幸いです。
</p>

