.header
  .header__title
    %h1 My Tech Blog
    %b 「未経験エンジニア最短で一人前のエンジニアになるためには？」をテーマに考えたブログです。
    %p また 自分自身の成長のため、技術的な記事も書いています！
    %p こんなブログを立ち上げて偉そうなことかいてますが、自分もまだまだなので、一緒に成長していきたいと思いますし、そう言った考えに共感できる仲間に出会えたら良いなって思います。
    %p 駆け出しエンジニア、頑張ろーーー！！！
    = render "nav-bar"