= render "shared/header"
.tech-blog.d-lg-flex.justify-content-center.mt-5
  .tech-blog__left.border.col-lg-7.mr-3
    .tech-blog__left__title
      %h3.text-center.py-3 Tech Blog
    .card.col-10.m-auto
      .card__title
        %p タイトル：久しぶりにアプリ開いたらMysqlでエラーが出た。
      .card__discription
        %p 説明：しばらくお休みしていた個人アプリを開発環境で開いたら”Could not find mysql2-0.5.2 in any of the sources”と言われた。この時の対応を書きたいと思う。
      .card__in-a-word
        %p 一言で言うと：「bundle configのオプションは１つづつ加える」
      .card__url
        %p 参考URL：https://qiita.com/yj2222/items/1249736fa1ec6fb63a18
  .tech-blog__right.border.col-lg-3.ml-3
    %p 2019.08.23の記事
    %p 2019.08.23の記事
    %p 2019.08.23の記事
  