<div class="table">
  <div class="table__school">
    <h5><b>デジタルハリウッド STUDIO by LIG</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2B+6WV7N6+4704+5Z6WX" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www26.a8.net/svt/bgt?aid=190816643418&wid=001&eno=01&mid=s00000019570001004000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 映像教材、個別指導、LIVE授業</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">デザインの技術も学べる</strong>。<strong class="marker-yellow">フロント技術に特化</strong>。</p>
        <p class="m-0">・料金： ¥450,000 (税抜)</p>
        <p class="m-0">・場所： 上野、池袋</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2B+6WV7N6+4704+60OXE" target="_blank" rel="nofollow">デジタルハリウッド STUDIO by LIG</a></p>
      </div>
    </div>    
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・６ヶ月とういう長い時間をかけて学べる。また映像教材、個別指導、LIVE授業と言った様々な方法で勉強できるため<strong class="marker-yellow">実力がつく</strong>。</li>
  <li>・他のスクールと違い、<strong class="marker-yellow__text-red">デザインに関する知識も得られる。</strong></li>
  <li>・フロントのコーダー系のバイト案件が多い中、フロントに特化したカリキュラムなので<strong class="marker-yellow">気軽にバイトから始めてみたい方などにお勧め</strong>だと思います。
  </li>
</ul>