<div class="table">
  <div class="table__school">
    <h5><b>Tech Boost</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9GJYSY+3TVC+HWXLD" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www23.a8.net/svt/bgt?aid=190816645572&wid=001&eno=01&mid=s00000017868003009000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">PHPとRubyの2言語が学べる</strong>。</p>
        <p class="m-0">・料金： 入会金¥219,800 + 月額¥29,800 x 3ヶ月(税抜)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9GJYSY+3TVC+HWXLD" target="_blank" rel="nofollow">Tech Boost</a></p>
      </div>
    </div>  
    <h5><b>Tech Boost（オンライン）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9E68DU+3TVC+NVHCX" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www20.a8.net/svt/bgt?aid=190816645568&wid=001&eno=01&mid=s00000017868004010000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">PHPとRubyの2言語が学べる</strong>。</p>
        <p class="m-0">・料金： 入会金¥134,800 + 月額¥29,800 x 3ヶ月(税抜)</p>
        <p class="m-0">・場所： オンラインなのでどこでも。</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9E68DU+3TVC+NVHCX" target="_blank" rel="nofollow">Tech Boost</a></p>
      </div>
    </div>   
  </div>
</div>
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・まず３ヶ月でカリキュラムが組まれており、その中で<strong class="marker-yellow__text-red">PHPとRubyの2言語学べるのが最大のメリットでしょう。</strong>。</li>
  <li>・また<strong class="marker-yellow">料金も比較的安価です。</strong></li>
  <li>・案件数が多いPHPとスタートアップなどで希少価値が高いRubyを武器にできるのはデカイです。<strong class="marker-yellow">就職サポート、独立支援サービス</strong>なども実施していて、卒業後のキャリアも安心。</li>
  <li>・通学かオンラインどちらかを選ばないといけないで<strong class="marker-yellow">しっかり無料カウンセリングを受けてから決めましょう</strong>。</li>
</ul>