<div class="table">
  <div class="table__school">
    <h5><b>CodeCamp（プレミアムプラス、6ヶ月プラン）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AMTQR6+3GOM+60H7L" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www25.a8.net/svt/bgt?aid=190816645643&wid=001&eno=01&mid=s00000016159001010000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 完全オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">フロント、サーバサイド、デザインなどとにかく幅広い技術が習得可能</strong>。</p>
        <p class="m-0">・料金： ¥ 698,000 (税別)</p>
        <p class="m-0">・場所： オンラインなのでどこでもOK</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AMTQR6+3GOM+60H7L" target="_blank" rel="nofollow">CodeCamp</a>(無料体験実施中)</p>
      </div>
    </div>

  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・完全オンラインで6ヶ月のプレミアムプラスプランなら<strong class="marker-yellow__text-red">回数無制限で受講する事ができる</strong>。</li>
  <li>・さらに受講できるカリキュラムの数が半端なく、HTML/CSS、JavaScript、Bootstrap、Swift、Android、PHP、MySQL、Ruby、Rails、java、Photoshop、Illustrator<strong class="marker-yellow__text-red">計14種類の技術が学べる</strong>。</li>
  <li>・これ全てマスターしたら敵なしかもしれないです。ただ自分的にはwordpressを入れて欲しかったという所と、初心者が本当にこの量をこなせるのか？という不安だけである。</li>
  <li>・その他<strong class="marker-yellow">自分の学びたい技術だけを選べるコース</strong>もあるみたいなので<strong class="marker-yellow">無料体験を受けてみてから決めるのも良いでしょう</strong>。</li>
</ul>