<div class="table">
  <div class="table__school">
    <h5><b>ProgrammerCollege</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AGVEPE+3NMW+61Z81" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www20.a8.net/svt/bgt?aid=190816645633&wid=001&eno=01&mid=s00000017060001017000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">完全無料</strong>。<strong class="marker-yellow">javaに特化</strong>。</p>
        <p class="m-0">・料金： ¥ 0 </p>
        <p class="m-0">・場所： 六本木</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+AGVEPE+3NMW+61Z81" target="_blank" rel="nofollow">ProgrammerCollege</a>(無料カウンセリング実施中)</p>
      </div>
    </div>

  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・<strong class="marker-yellow__text-red">最短40日間でjavaを習得可能。しかも完全無料</strong>。これが一番の利点だと思います。</li>
  <li>・java案件数はIT案件の大半を占めているので<strong class="marker-yellow">覚えてしまえば、職に困ることはないだろう</strong>。</li>
  <li>・ただjava案件はBtoB系の比較的堅めの案件が多いので比較的ラフなWEB系に行きたい方はお勧めできない場合がある。</li>
  <li>・プログラム以外にも<strong class="marker-yellow">様々な就活サポート研修を実施している</strong>。</li>
</ul>