<div class="table">
  <div class="table__school">
    <h5><b>ポテパンキャンプ（2ヶ月コース）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645608&wid=001&eno=01&mid=s00000017938002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow">Railsの基礎を徹底的に学べる</strong>。</p>
        <p class="m-0">・料金： ¥100,000 (税別)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">ポテパンキャンプ</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
    <h5><b>ポテパンキャンプ（4ヶ月コース）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645608&wid=001&eno=01&mid=s00000017938002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">転職成功で全額返金</strong>。<strong class="marker-yellow">Railsのスキルアップが測れる</strong>。</p>
        <p class="m-0">・料金： ¥300,000 (税別)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">ポテパンキャンプ</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
    <h5><b>ポテパンキャンプ（3ヶ月コース）</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645608&wid=001&eno=01&mid=s00000017938002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">転職成功で全額返金</strong>。<strong class="marker-yellow">Railsのスキルアップが測れる</strong>。</p>
        <p class="m-0">・料金： ¥250,000 (税別)</p>
        <p class="m-0">・場所： 渋谷</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+A1ZKKY+3UES+BXYE9" target="_blank" rel="nofollow">ポテパンキャンプ</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・2ヶ月、3ヶ月、4ヶ月にコースが別れている。</li>
  <li>・2ヶ月は<strong class="marker-yellow">基礎を徹底的に学びます</strong>。<strong class="marker-yellow__text-red">実戦レベルにはなれないので注意が必要</strong>。</li>
  <li>・3ヶ月は<strong class="marker-yellow">基礎を習得した方限定のコースになります</strong>。<strong class="marker-yellow__text-red">そのため基礎レベルのカリキュラムは組み込まれていません。実戦レベルにスキルアップしたい方にお勧めです</strong>。</li>
  <li>・基礎に不安がある方は<strong class="marker-yellow">4ヶ月コースを受講すると良いでしょう</strong>。</li>
  <li>・また3ヶ月、4ヶ月には<strong class="marker-yellow__text-red">転職成功時の全額返金制度があります</strong>。入るまでの敷居は高いのですが、実質0円にする事が可能です。</li>
  <li>・なので基礎知識がある方には、かなりお勧めできるスクールになります。<strong class="marker-yellow">無料カウンセリングに行き、自分のレベル感を確かめに行っても良いかもしれません</strong>。</li>
</ul>