<div class="table">
  <div class="table__school">
    <h5><b>TECH::EXPERT</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+C7DWH" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www29.a8.net/svt/bgt?aid=190808531369&wid=001&eno=01&mid=s00000016576002050000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学＆オンライン</p>
        <p class="m-0">・特徴： 教育サポートが手厚い。<strong class="marker-yellow__text-red">返金保証制度</strong>。<strong class="marker-yellow">Rubyに特化</strong>。</p>
        <p class="m-0">・料金： 598,000円（税抜）</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)、栄(名古屋)、天神(福岡)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LOSZ+63OZ02+3JWG+BWVTE" target="_blank" rel="nofollow">TECH::EXPERT</a></p>
      </div>
    </div>
    <h5><b>TECH::CAMP</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9LBFN6+3JWG+64JTD" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www21.a8.net/svt/bgt?aid=190816645580&wid=001&eno=01&mid=s00000016576001029000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学＆オンライン</p>
        <p class="m-0">・特徴： <strong class="marker-yellow">デザインや</strong><strong class="marker-yellow__text-red">AI技術も学べる</strong>。</p>
        <p class="m-0">・料金： 177,600円（税抜）</p>
        <p class="m-0">・場所： 渋谷、新宿、池袋、東京、名古屋、大阪(梅田)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9LBFN6+3JWG+64JTD" target="_blank" rel="nofollow">TECH::CAMP</a>(無料体験実施中)</p>
      </div>
    </div>
  </div>
</div>
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・<strong class="marker-yellow">当方はここの卒業生です。</strong></li>
  <li>・オンラインと併用で自分のペースを保ちつつ、教室では集中して学習できる。</li>
  <li>・教室に行けばすぐに質問ができる。</li>
  <li>・基本的に自習学習スタイルで、<strong class="marker-yellow">周りには同期や仲間がいるので、互いに質問しあったり、同じエラーを共有できたりできる。</strong></li>
  <li>・自習ベースが故に、<strong class="marker-yellow__text-red">基本的には自分次第で最終的にはかなり自走力が身に付く。</strong></li>
  <li>・TECH::CAMPは、TECH::EXPERTほどコアなことはしませんが、EXPERTではやらない<strong class="marker-yellow__text-red">デザイン、やAI技術が学べます</strong>。</li>
  <li>・業界で使いそうな技術を浅く広く学べて、<strong class="marker-yellow">料金も比較的安価です</strong>。</li>
  <li>・ぶっちゃけ<strong class="marker-yellow">実戦に近い技術が学べるので</strong>、気軽にコーダーバイトなどから、始めたい方などには、TECH::CAMPの方が、お勧めかもしれません。</li>
</ul>