<div class="table">
  <div class="table__school">
    <h5><b>DMM WEBCAMP</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9RV7AQ+3XAE+BXYE9" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www23.a8.net/svt/bgt?aid=190816645591&wid=001&eno=01&mid=s00000018311002006000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow__text-red">転職保証</strong>。<strong class="marker-yellow">Rubyに特化</strong>。</p>
        <p class="m-0">・料金： ¥ 628,000 (税別)、分割¥ 26,000~ /月(税別)</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9RV7AQ+3XAE+BXYE9" target="_blank" rel="nofollow">DMM WEBCAMP</a>(無料カウンセリング実施中)</p>
      </div>
    </div>
    
    <h5><b>DMM WEBCAMP【ビジネス教養コース】</b></h5>
    <div class="table__school__discrption d-md-flex">
      <div class="table__school__discrption--image my-auto">
        <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9ZLU5U+3XAE+609HT" target="_blank" rel="nofollow">
          <img border="0" width="200" height="200" alt="" src="https://www23.a8.net/svt/bgt?aid=190816645604&wid=001&eno=01&mid=s00000018311001009000&mc=1">
        </a>
      </div>
      <div class="table__school__discrption--text">
        <p class="m-0">・受講タイプ： 通学</p>
        <p class="m-0">・特徴： <strong class="marker-yellow">上記DMM CAMPを1ヶ月に集約したもの</strong>。</p>
        <p class="m-0">・料金： ¥128,000 (税別)</p>
        <p class="m-0">・場所： 渋谷、難波(大阪)</p>
        <p class="m-0">・公式サイト： <a href="https://px.a8.net/svt/ejp?a8mat=35LV2D+9ZLU5U+3XAE+609HT" target="_blank" rel="nofollow">DMM WEBCAMP</a>(無料説明会実施中)</p>
      </div>
    </div>
  </div>
</div>
  
<p class="m-0">■ 管理者コメント</p>
<ul class="list-green">
  <li>・まず<strong class="marker-yellow__text-red">DMM(大企業)が主催という点でスクールとしての信頼度が高いです</strong>。</li>
  <li>・料金が高めですが、その代わり<strong class="marker-yellow">転職保証や学習サポートが手厚く大手に転職実績もあります</strong>。大企業故の実績でしょう。</li>
  <li>・ただ20代限定であったり、入校テストや、保証の適応審査などがあり、<strong class="marker-yellow">20代後半からはお勧めできない場合があります</strong>。</li>
  <li>・まずは<strong class="marker-yellow">無料カウンセリングで色々話を聞いてみると良いでしょう。</strong>。</li>
  <li>・【ビジネス教養コース】では基本的には通常コースと内容はさほど変わらないと思いますが、短期間でスキルアップを目的としてますので<strong class="marker-yellow">かなりスピード感があるカリキュラムになるかと思います</strong>。</li>  
  <li>・<strong class="marker-yellow__text-red">短期間で基礎を徹底的に習得したい方にはお勧めです</strong>。無料説明会も実施しているので、一度話を聞いてしっかり決めましょう。</li>
</ul>